@mixin ring($size, $color) {
  width: $size;
  height: $size;
  $border: $size / 15;
  border: $border solid $color;
  border-radius: $size / 2;
  display: inline-block;
  box-shadow: 0px 0px 10px $color;
  background-color: transparent;
}

.orangeRing {
  @include ring(60px, orange);
}

.yellowRing {
  @include ring(300px, yellow);
}

$size: 50px;

@for $i from 1 through 7 {
  $size: $size + 15px;

  .circle-#{$i} {
    margin-left: -35px;
    @include ring($size, black);
  }

  .circleLoop {
    text-align: center;
  }

}