.orangeRing {
    width: 60px;
    height: 60px;
    border: 4px solid orange;
    border-radius: 30px;
    display: inline-block;
    box-shadow: 0px 0px 10px orange;
    background-color: transparent;
}

.yellowRing {
    width: 300px;
    height: 300px;
    border: 20px solid yellow;
    border-radius: 150px;
    display: inline-block;
    box-shadow: 0px 0px 10px yellow;
    background-color: transparent;
}

.circle-1 {
    margin-left: -35px;
    width: 65px;
    height: 65px;
    border: 4.3333333333px solid black;
    border-radius: 32.5px;
    display: inline-block;
    box-shadow: 0px 0px 10px black;
    background-color: transparent;
}

.loops {
    margin-left: 50px;
    text-align: center;
}

.circle-2 {
    margin-left: -35px;
    width: 80px;
    height: 80px;
    border: 5.3333333333px solid black;
    border-radius: 40px;
    display: inline-block;
    box-shadow: 0px 0px 10px black;
    background-color: transparent;
}

.loops {
    margin-left: 50px;
    text-align: center;
}

.circle-3 {
    margin-left: -35px;
    width: 95px;
    height: 95px;
    border: 6.3333333333px solid black;
    border-radius: 47.5px;
    display: inline-block;
    box-shadow: 0px 0px 10px black;
    background-color: transparent;
}

.loops {
    margin-left: 50px;
    text-align: center;
}

.circle-4 {
    margin-left: -35px;
    width: 110px;
    height: 110px;
    border: 7.3333333333px solid black;
    border-radius: 55px;
    display: inline-block;
    box-shadow: 0px 0px 10px black;
    background-color: transparent;
}

.loops {
    margin-left: 50px;
    text-align: center;
}

.circle-5 {
    margin-left: -35px;
    width: 125px;
    height: 125px;
    border: 8.3333333333px solid black;
    border-radius: 62.5px;
    display: inline-block;
    box-shadow: 0px 0px 10px black;
    background-color: transparent;
}

.loops {
    margin-left: 50px;
    text-align: center;
}

.circle-6 {
    margin-left: -35px;
    width: 140px;
    height: 140px;
    border: 9.3333333333px solid black;
    border-radius: 70px;
    display: inline-block;
    box-shadow: 0px 0px 10px black;
    background-color: transparent;
}

.loops {
    margin-left: 50px;
    text-align: center;
}

.circle-7 {
    margin-left: -35px;
    width: 155px;
    height: 155px;
    border: 10.3333333333px solid black;
    border-radius: 77.5px;
    display: inline-block;
    box-shadow: 0px 0px 10px black;
    background-color: transparent;
}

.loops {
    margin-left: 50px;
    text-align: center;
}
